#cnv{
    border: 20px solid black;
}

body {
    display: flex;
    justify-content: space-around;
    background-image: url(../pednu.jpg);
    color: white;
}

.text{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
    font-size: 2em;
}

#lettres{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    letter-spacing: 1.25em;
    background-color: black;
}

.bouton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


